.div-list-vehicles {
    height: fit-content;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #FEFFFE;
    width: 80%;
    padding: 30px 50px;
    margin: 30px auto;

    & .div-search-new {
        display: flex;
        flex-direction: row;
        place-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        & .form {
            display: flex;
            text-align: start;
            height: fit-content;
            padding-bottom: 0;
            gap: 20px;

            & .mat-mdc-form-field {
                height: 60px;
                margin: 10px 0 5px 0;
                background-color: #FEFFFE;
            }
        }
    }

    .div-table-vehicles {
        overflow: auto;


        & .mat-mdc-table,
        table {
            width: 100%;
            table-layout: fixed;
            word-wrap: break-word;

            & img {
                width: 100%;
                height: auto;
            }

            & .mdc-data-table__cell,
            .mdc-data-table__header-cell {
                text-align: center;
                width: auto;

                & .div-cell-buttons {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }

    }

    & mat-paginator {
        width: 100%;
        text-align: end;
    }
}