<div class="login-page">
  <div class="profile-container" *ngIf="client">
    <mat-card class="profile-card" [ngClass]="{ 'inactive-card': !client.status }">

      <!-- Avatar y nombre -->
      <div class="avatar-block">
        <mat-icon class="profile-avatar">account_circle</mat-icon>
        <h2 class="profile-name">{{ client.fullName }}</h2>
      </div>

      <!-- Estado -->
      <mat-chip [color]="client.status ? 'primary' : 'warn'" selected>
        {{ client.status ? 'Activo' : 'Inactivo' }}
      </mat-chip>

      <!-- Lista personalizada sin mat-list-item -->
       <div>

         <div class="info-list">
           <div class="info-item">
             <mat-icon>badge</mat-icon>
             <span>CI: {{ client.ci }}</span>
            </div>

            <div class="info-item">
              <mat-icon>email</mat-icon>
              <span>Email: {{ client.email }}</span>
            </div>

            <div class="info-item">
              <mat-icon>cake</mat-icon>
              <span>Fecha de nacimiento: {{ client.birthDate | date }}</span>
            </div>

            <div class="info-item">
              <mat-icon>phone</mat-icon>
              <span>Teléfono: {{ client.phone }}</span>
            </div>

            <div class="info-item">
              <mat-icon>place</mat-icon>
              <span>Dirección: {{ client.address }}</span>
            </div>

            <div class="info-item">
              <mat-icon>flag</mat-icon>
              <span>Nacionalidad: {{ client.nationality }}</span>
            </div>
          </div>
        </div>
      <!-- Botones -->
      <div class="profile-actions">
        <div class="main-buttons">
          <app-button [name]="'Editar perfil'" [type]="'button'" (clicked)="goToEdit()"></app-button>
          <app-button [name]="'Historial de Reservas'" [type]="'button'" (clicked)="goToReservationHistory()"></app-button>
        </div>

        <div class="secondary-buttons">
          <app-button [name]="'Cerrar sesión'" [type]="'button'" (clicked)="logout()"></app-button>
          <app-client-account-delete></app-client-account-delete>
        </div>
      </div>
    </mat-card>
  </div>

  <div *ngIf="!client" class="loading-text">
    <p>Cargando perfil...</p>
  </div>
</div>
