.div-view-reserves {
  width: 80%;
  box-sizing: border-box;
  padding: 30px 40px;
  margin: 40px auto;
  background-color: #FEFFFE;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.div-view-reserves h3 {
  margin: 0 0 20px;
  color: #151515;
}

.div-search-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-filter {
  display: flex;
  gap: 20px;
}

.form-filter .mat-mdc-form-field {
  height: 60px;
  margin: 10px 0 5px;
  background-color: #FEFFFE;
}

.table-card {
  overflow: auto;
  background-color: #FEFFFE;
}

.custom-table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

.custom-table th.mat-mdc-header-cell,
.custom-table td.mat-mdc-cell {
  text-align: center;
  padding: 5px;
}

.div-cell-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

mat-paginator {
  width: 100%;
  text-align: end;
  margin-top: 10px;
}
