.agency-container {
  padding: 20px;
  background-color: #FEFFFE;
  color: #151515;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #EF2917;
}

.filter-container {
  margin-bottom: 15px;
}

.active {
  color: #EF2917;
  font-weight: bold;
}

.inactive {
  color: #151515;
  font-weight: bold;
  opacity: 0.6;
}

