input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #E3E3E3;
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  background-color: #FEFFFE;
  color: #151515;
}

input::placeholder {
  color: #3C6E71;
}
