<form class="form" [formGroup]="formGroup" (submit)="submit()">
    <h2>Actualizar vehículo</h2>
    <div class="pair-group">
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Marca:</mat-label>
            <input matInput type="text" formControlName="brand" placeholder="Marca del vehículo" required>
        </mat-form-field>
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Tipo de vehículo:</mat-label>
            <input matInput type="text" formControlName="type" placeholder="Tipo de vehículo" required>
        </mat-form-field>
    </div>
    <div class="pair-group">
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Modelo:</mat-label>
            <input matInput type="text" formControlName="model" placeholder="Modelo del vehículo" required>
        </mat-form-field>
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Precio alquiler por día:</mat-label>
            <input matInput type="number" formControlName="pricePerDay" placeholder="Precio por hora del vehículo"
                required>
        </mat-form-field>
    </div>
    <div class="pair-group">
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Número de placa:</mat-label>
            <input matInput type="text" formControlName="plateNumber" placeholder="ABC1234" required>
        </mat-form-field>
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Transmisión:</mat-label>
            <mat-select formControlName="transmission" required>
                <mat-option value="">Seleccione la transmisión..</mat-option>
                <mat-option value="Manual">Manual</mat-option>
                <mat-option value="Automática">Automática</mat-option>
                <mat-option value="Continuamente Variable (CVT)">Continuamente Variable (CVT)</mat-option>
                <mat-option value="Doble Embrague (DSG o DGT)">Doble Embrague (DSG o DGT)</mat-option>
                <mat-option value="Automatizada (AMT)">Automatizada (AMT)</mat-option>
                <mat-option value="Secuencial">Secuencial</mat-option>
                <mat-option value="Electrónica Variable (EVT)">Electrónica Variable (EVT)</mat-option>
                <mat-option value="Hidráulica">Hidráulica</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="pair-group">
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Año:</mat-label>
            <input matInput type="number" formControlName="year" placeholder="Año" required>
        </mat-form-field>
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Tipo de combustible:</mat-label>
            <input matInput type="text" formControlName="fueType" placeholder="Tipo de combustible" required>
        </mat-form-field>
    </div>
    <div class="pair-group">
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Color:</mat-label>
            <input matInput type="text" formControlName="color" placeholder="Color" required>
        </mat-form-field>
        <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
            <mat-label>Número de asientos:</mat-label>
            <input matInput type="number" formControlName="seats" placeholder="Número de asientos" required>
        </mat-form-field>
        <mat-checkbox formControlName="isAvailable">Disponible</mat-checkbox>
    </div>
    <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
        <mat-label>Url imagen:</mat-label>
        <input matInput type="text" formControlName="poster" placeholder="Url imagen del vehículo">
    </mat-form-field>
    <div class="div-buttons">
        <app-button [name]="'Cancelar'" [type]="'reset'" (clicked)="navigateToListVehiclesByCompany()"></app-button>
        <app-button [name]="'Guardar'" [type]="'submit'"></app-button>
    </div>
</form>