.div-view-vehicles {
    width: 80%;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px 40px;
    margin: 30px auto;
    background-color: #FEFFFE;
        border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    & .div-search-new {
        display: flex;
        flex-direction: row;
        place-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        flex-wrap: wrap;

        & .form {
            display: flex;
            gap: 20px;

            & .mat-mdc-form-field {
                height: 60px;
                margin: 10px 0 5px 0;
                background-color: #FEFFFE;
            }
        }
    }

    & .div-cards-vehicles {
        box-sizing: border-box;
        width: 100%;

        & .vehicle-card {
            display: inline-block;
            width: 300px;
            padding: 5px;
            margin: 5px;
            place-items: center;

            & mat-card-header {
                margin-left: 0;
                text-align: center;
            }
            & img {
                display: flex;
                width: 225px;
                height: 150px;
                align-self: center;
            }

            & mat-card-content, & mat-card-header {

                p, mat-card-title {
                    margin: 10px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }
        }
    }
}
