h1 {
  margin: 0;
  text-align: center;
}


.header-card {
  color: #151515;
  padding: 25px 0;
  border-radius: 0 0 10px 10px;
  margin-bottom: 25px;
}

.login-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.card-login {
  background-color: #fff;
  padding: 0 32px 32px 32px;
  width: 28%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
  width: 100%;

  & input {
    box-sizing: border-box;
    font-family: "Onest";
    font-size: 1.01rem;
    width: 100%;
  }

  & .hint-label{
    color: #3c6e71;
  }

}


.form-login-company {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 500px;

  & button {
    font-size: 1.05rem;
    color: #fff;
    background-color: #f13e2e;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
  }
}


p{
  margin: 5px 0 0 0;
  padding: 0;
}

.error-message{
  color: #f13e2e;
  font-weight: bold;
}
