<section class="register-container">
    <div class="card-register">
        <header class="header-card">
            <h1>Registrar companía</h1>
        </header>
        <main>
            <form class="form-register-company" action="">
                <div class="form-group">
                    <label for="">Nombre empresarial</label>
                    <input placeholder="Nombre de la empresa">
                </div>
                <div class="form-group">
                    <label for="">Persona responsable</label>
                    <input placeholder="Persona responsable">
                </div>
                <div class="form-group">
                    <label for="">Correo electrónico</label>
                    <input placeholder="Correo electronico empresarial">
                </div>
                <div class="double-group">
                    <div class="form-group">
                        <label for="">Número de celular</label>
                        <input placeholder="N° Celular">
                    </div>
                    <div class="form-group">
                        <label for="">Numero de RUC</label>
                        <input placeholder="Numero de RUC">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Nombre de usuario</label>
                    <input placeholder="Nombre de usuario">
                </div>
                <div class="form-group">
                    <label for="">Contraseña</label>
                    <input type="password" placeholder="Contraseña">
                </div>
                <button>Registrarse</button>
            </form>
        </main>
    </div>
</section>