.form-group {
    margin-bottom: 15px;
    width: 100%;
    
    & input {
      box-sizing: border-box;
      font-family: "Onest";
      font-size: 1.01rem;
      width: 100%;
    }
  
    & .hint-label {
      color: #3c6e71;
    }
  }
  