<form class="form" *ngIf="reserveForm" [formGroup]="reserveForm" (ngSubmit)="onSubmit()">
  <h2>Registrar Reserva</h2>

  <!-- Cliente (solo lectura) -->
  <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
    <mat-label>Cliente</mat-label>
    <input matInput [value]="selectedClientName" disabled>
  </mat-form-field>

  <!-- Vehículo (solo lectura) -->
  <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
    <mat-label>Vehículo</mat-label>
    <input matInput [value]="selectedVehicleName" disabled>
  </mat-form-field>

  <!-- Agencia + Estado -->
  <div class="pair-group">
    <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
      <mat-label>Estado</mat-label>
      <input matInput [value]="reserveForm.get('status')?.value ? 'Activo' : 'Inactivo'" disabled>
    </mat-form-field>
  </div>

  <!-- Fechas -->
  <div class="pair-group">
    <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
      <mat-label>Fecha de Retiro</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="pickupDate" placeholder="MM/DD/YYYY" [min]="fechaMin">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
     <mat-error *ngIf="reserveForm.get('pickupDate')?.hasError('required') && (reserveForm.get('pickupDate')?.touched || reserveForm.get('pickupDate')?.dirty)">
        Fecha de retiro requerida
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
      <mat-label>Fecha de Entrega</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="dropoffDate" placeholder="MM/DD/YYYY" [min]="fechaMin">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="reserveForm.get('dropoffDate')?.hasError('required') && (reserveForm.get('dropoffDate')?.touched || reserveForm.get('dropoffDate')?.dirty)">
        Fecha de entrega requerida
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Días y validación rango -->
  <div class="pair-group" *ngIf="rentalDays > 0 || reserveForm.errors?.['dateInvalid']">
    <p *ngIf="rentalDays > 0">{{ rentalDays }} día{{ rentalDays > 1 ? 's' : '' }} seleccionados</p>
    <p class="error-message" *ngIf="reserveForm.errors?.['dateInvalid']">
      ⚠ La fecha de entrega debe ser mayor que la de retiro.
    </p>
  </div>

  <!-- Precio -->
  <mat-form-field class="form-group" floatLabel="always" appearance="outline" color="primary">
    <mat-label>Precio Total (USD)</mat-label>
    <input matInput formControlName="price" readonly >
  </mat-form-field>

  <!-- Botones -->
  <div class="div-buttons">
    <app-button [name]="'Cancelar'" [type]="'button'" (clicked)="onCancel()"></app-button>
    <app-button [name]="'Guardar'" [type]="'submit'"></app-button>
  </div>
</form>
