.search-container {
  padding: 3rem 5rem;
  background-color: #e3e3e3;
  color: #151515;
  font-family: 'Segoe UI', sans-serif;
}

.title {
  color: #3C6E71;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2.5rem;
}


.search-bar-wrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 600px;
  margin-bottom: 2.5rem;
}

.search-field {
  flex: 1;
  max-width: 400px;
}

.search-button {
  margin: 0;
  height: 66px;
  align-self: flex-end;
}


.mat-row:hover {
  background-color: #f4f4f4;
}

.mat-icon {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 8px;
}

.mi-chip {
  box-sizing: border-box;
  width: 90px;
  font-size: 1.05rem;
  border: none;
  padding: 10px;
}

.mi-chip.chip-activo {
  background-color: #99f538 ;
}

.mi-chip.chip-inactivo {
  background-color: #F13E2E ;
  
}

