footer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    color: #fff;
    background-color: #151515;
    padding: 10px 25px;
}

h3,p{
    margin: 0;
}

h3{
    font-size: 1.5rem;
}